<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Google icon for login -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
</head>
<body>
    
    <div class="login-container">
        <h1 style="color: black;">Login</h1s>
        
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Gmail" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <!-- Register Button -->
        <form action="/registration_page" method="get">
            <button class="register-btn small-btn">Register</button>
        </form>

        <!-- Separator line with "or" -->
        <div class="separator">
            <span>or</span>
        </div>

        <!-- Google login button -->
         <form action="/google-login" method="get">
            <button class="google-btn" id="google-login-btn">
                <span class="google-icon material-icons">account_circle</span>
                Login with Google
            </button>
        </form>
    </div>
</body>
</html>
