<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Unsuccessful</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="error-container">
        <h1>Login Unsuccessful</h1>
        <p>Either your username or password is incorrect. Please try again or register for a new account.</p>
        <div class="button-container">
            <form action="/" method="get">
                <button class="login-btn small-btn">Login</button>
            </form>
            <form action="/register" method="get">
                <button class="register-btn small-btn">Register</button>
            </form>
        </div>
    </div>
</body>
</html>
